<li class="dropdown ml-2">
    <a class="rounded-circle" href="#!" role="button" id="dropdownUser" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <div class="avatar avatar-md avatar-indicators avatar-online">
            <img alt="avatar" src="{{ request.user.profile_image.url }}" class="rounded-circle"/>
        </div>
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
        <div class="dropdown-item">
            <div class="d-flex">
                <div class="avatar avatar-md avatar-indicators avatar-online">
                    <img alt="avatar" src="{{ request.user.profile_image.url }}" class="rounded-circle"/>
                </div>
                <div class="ml-3 lh-1">
                    <h5 class="mb-1">{{ request.user.name }}</h5>
                    <p class="mb-0 text-muted">{{ request.user.email }}</p>
                </div>
            </div>
        </div>
        <div class="dropdown-divider"></div>
        <ul class="list-unstyled">
            {% if request.user.account_type == 'PRO' %}
            <li>
                <a class="dropdown-item" href="{% url 'accounts:profile' request.user.username %}">
                    <i class="fe fe-user mr-2"></i>Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'needsbox:service_form' %}">
                    <i class="fe fe-plus mr-2"></i>Criar Serviço
                </a>
            </li>
            {% endif %}
            <li>
                <a class="dropdown-item" href="{% url 'needsbox:advertisement_form' %}">
                    <i class="fe fe-plus-circle mr-2"></i>Criar Anúncio
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'accounts:account_edit' request.user.username %}">
                    <i class="fe fe-settings mr-2"></i>Definições
                </a>
            </li>
        </ul>
        <div class="dropdown-divider"></div>
        <ul class="list-unstyled">
            <li>
                <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                    <i class="fe fe-power nav-icon"></i>Logout
                </a>
            </li>
        </ul>
    </div>
</li>