{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
<!-- Page content -->
<div class="bg-white">

    <!-- Content -->
    <div class="py-4 py-lg-8 pb-14 ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 mb-2">
                    <div class="text-center mb-4">
                        <h1 class="display-3 font-weight-bold mb-4">NeedsBox</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-12 col-12 mb-2">
                    <!-- Descriptions -->
                    <div>
                        <div class="mb-4">
                            <p class="lead text-dark">
                                Oferecemos a comunidades locais uma grande variedade de serviços
                            </p>
                            <p>
                                A NeedsBox conecta as pessoas para partilharem ou procurarem serviços na sua área
                                de forma rápida e eficaz cada um pode publicar um anúncio atravez de um
                                dispositivo(android/web).
                            </p>
                            <p>
                                Na NeedsBox tentamos melhorar a vida das pessoas aproximando-as atravez de relações onde
                                todos ganham,
                                os vendedores podem ganhar algum dinheiro extra prestando serviços que publicam na
                                NeedsBox ajudando pessoas no seu processo.
                            </p>
                        </div>
                        <hr class="mt-lg-10 mb-lg-6 my-md-6">
                        <blockquote class="blockquote text-center ">
                            <p class="text-primary font-italic font-weight-semi-bold lh-lg h1 px-2 px-lg-14">
                                "A NeedsBox conecta as pessoas"</p>
                        </blockquote>
                        <hr class="mt-lg-6 mb-lg-10 my-md-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}