{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page content -->


    <!-- Page header -->
    <div class="bg-primary py-4 py-lg-6">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div>
                        <h1 class="mb-0 text-white display-4">Pesquisa - Serviços</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="py-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
                    <div class="row d-lg-flex justify-content-between align-items-center">
                        <div class="col-md-6 col-lg-8 col-xl-9 ">
                            <h4 class="mb-3 mb-lg-0">Existem em total de {{ total_services }} serviços</h4>
                        </div>
                        <div class="d-inline-flex col-md-6 col-lg-4 col-xl-3 ">
                            <div class="mr-2">
                                <!-- Nav -->
                                <div class="nav btn-group flex-nowrap" role="tablist">
                                    <button class="btn btn-outline-white  active" data-toggle="tab"
                                            data-target="#tabPaneGrid" role="tab" aria-controls="tabPaneGrid"
                                            aria-selected="true">
                                        <span class="fe fe-grid"></span>
                                    </button>
                                    <button class="btn btn-outline-white " data-toggle="tab" data-target="#tabPaneList"
                                            role="tab" aria-controls="tabPaneList" aria-selected="false">
                                        <span class="fe fe-list"></span>
                                    </button>
                                </div>
                            </div>
                            <!-- List  -->
                            <select class="selectpicker" data-width="100%">
                                <option value="">Sort by</option>
                                <option value="Newest">Newest</option>
                                <option value="Free">Free</option>
                                <option value="Most Popular">Most Popular</option>
                                <option value="Highest Rated">Highest Rated</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-12 mb-4 mb-lg-0">
                    <!-- Card -->
                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header">
                            <h4 class="mb-0">Filter</h4>
                        </div>
                        <!-- Card body -->
                        <div class="card-body">
                            <span class="dropdown-header px-0 mb-2"> Category</span>
                            <!-- Checkbox -->
                            {% for categoria in categorias %}
                                <div class="custom-control custom-checkbox mb-1">
                                    <input type="checkbox" class="custom-control-input" id="{{ categoria.name }}Check">
                                    <label class="custom-control-label"
                                           for="{{ categoria.name }}Check">{{ categoria.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Card body -->
                        <div class="card-body border-top">
                            <span class="dropdown-header px-0 mb-2"> Reviews</span>
                            <!-- Custom control -->
                            <div class="custom-control custom-radio mb-1">
                                <input type="radio" class="custom-control-input" id="starRadio1" name="customRadio"
                                       checked>
                                <label class="custom-control-label" for="starRadio1">
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star text-warning "></i>
                                    <span class="font-size-xs">4.5 & UP</span>
                                </label>
                            </div>
                            <!-- Custom control -->
                            <div class="custom-control custom-radio mb-1">
                                <input type="radio" class="custom-control-input" id="starRadio2" name="customRadio">
                                <label class="custom-control-label" for="starRadio2"> <i
                                        class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star text-warning "></i>
                                    <span class="font-size-xs">4.0 & UP</span></label>
                            </div>
                            <!-- Custom control -->
                            <div class="custom-control custom-radio mb-1">
                                <input type="radio" class="custom-control-input" id="starRadio3" name="customRadio">
                                <label class="custom-control-label" for="starRadio3"> <i
                                        class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star text-warning "></i>
                                    <span class="font-size-xs">3.5 & UP</span></label>
                            </div>
                            <!-- Custom control -->
                            <div class="custom-control custom-radio mb-1">
                                <input type="radio" class="custom-control-input" id="starRadio4" name="customRadio">
                                <label class="custom-control-label" for="starRadio4"> <i
                                        class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star mr-n1 text-warning"></i>
                                    <i class="mdi mdi-star text-warning "></i>
                                    <span class="font-size-xs">3.0 & UP</span></label>
                            </div>
                        </div>
                        <!-- Card body -->
                        <div class="card-body border-top">
                            <span class="dropdown-header px-0 mb-2"> Tipo</span>
                            <!-- Checkbox -->
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="allTwoCheck" checked>
                                <label class="custom-control-label" for="allTwoCheck">Todos os Tipos</label>
                            </div>
                            <!-- Checkbox -->
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="beginnerTwoCheck">
                                <label class="custom-control-label" for="beginnerTwoCheck">Empresa</label>
                            </div>
                            <!-- Checkbox -->
                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="intermediateCheck">
                                <label class="custom-control-label" for="intermediateCheck">Individual</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tab content -->
                <div class="col-xl-9 col-lg-9 col-md-8 col-12">
                    <div class="tab-content">
                        <!-- Tab pane -->
                        <div class="tab-pane fade show active pb-4 " id="tabPaneGrid" role="tabpanel"
                             aria-labelledby="tabPaneGrid">
                            <div class="row">
                                {% for service in services %}
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <!-- Card -->
                                        <div class="card  mb-4 card-hover">
                                            <a href="course-single.html" class="card-img-top"><img
                                                    src="{{ service.image_url }}" alt=""
                                                    class="card-img-top rounded-top"></a>
                                            <!-- Card body -->
                                            <div class="card-body">
                                                <h4 class="mb-2 text-truncate-line-2 "><a href="course-single.html"
                                                                                          class="text-inherit">{{ service.title }}</a>
                                                </h4>
                                                <!-- List inline -->
                                                <ul class="mb-3 list-group">
                                                    <li class="list-inline-item">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-geo-alt"
                                                             viewBox="0 0 16 16">
                                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                        </svg>
                                                        {{ service.get_location }}
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-person"
                                                             viewBox="0 0 16 16">
                                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                                        </svg>
                                                        Beginner
                                                    </li>
                                                </ul>
                                                <div class="lh-1">
											<span>
												{% if service.get_average_review.count != 0 %}
                                                    {% for i in "x"|ljust:service.get_average_review.stars %}
                                                        <i class="bi bi-star-fill text-warning mr-n1"></i>
                                                    {% endfor %}
                                                    {% if service.get_average_review.half_stars != 0 %}
                                                        <i class="bi bi-star-half text-warning mr-n1"></i>
                                                    {% endif %}
                                                    {% for i in "x"|ljust:service.get_average_review.empty_stars %}
                                                        <i class="bi bi-star text-warning mr-n1"></i>
                                                    {% endfor %}

                                                {% endif %}
                                                <!--i class="bi bi-star-fill text-warning mr-n1"></i>
                                                <i class="bi bi-star-fill text-warning mr-n1"></i>
                                                <i class="bi bi-star-fill text-warning mr-n1"></i>
                                                <i class="bi bi-star text-warning mr-n1"></i-->
											</span>
                                                    <span class="text-warning">{{ service.get_average_review.average }}</span>
                                                    <span class="font-size-xs text-muted">({{ service.get_average_review.count }})</span>
                                                </div>
                                            </div>
                                            <!-- Card footer -->
                                            <div class="card-footer">
                                                <!-- Row -->
                                                <div class="row align-items-center no-gutters">
                                                    <div class="col-auto">
                                                        <img src="{{ service.user.profile_image.url }}"
                                                             class="rounded-circle avatar-xs" alt="">
                                                    </div>
                                                    <div class="col ml-2">
                                                        <span>{{ service.user }}</span>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="#!" class="text-muted" data-toggle="tooltip"
                                                           data-placement="top" title=""
                                                           data-original-title="Add to Bookmarks">
                                                            <i class="fe fe-bookmark  "></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Tab pane -->
                        <div class="tab-pane fade pb-4" id="tabPaneList" role="tabpanel" aria-labelledby="tabPaneList">
                            <!-- Card -->
                            <div class="card mb-4 card-hover">
                                <div class="row no-gutters">
                                    <a class="col-12 col-md-12 col-xl-3 col-lg-3 bg-cover img-left-rounded"
                                       style="background-image: url({% static 'images/course-vue.jpg);' %})" href="#!">
                                        <img src="{% static 'images/course-vue.jpg' %}" alt="..."
                                             class="img-fluid d-lg-none invisible">
                                    </a>
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <h3 class="mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">Vue.js
                                                Components
                                                Fundamentals</a></h3>
                                            <!-- List inline -->
                                            <ul class="mb-5 list-inline">
                                                <li class="list-inline-item"><i class="far fa-clock mr-1"></i>3h 56m
                                                </li>
                                                <li class="list-inline-item">
                                                    <svg class="mr-1 mt-n1" width="16" height="16"
                                                         viewBox="0 0 16 16" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                                                        </rect>
                                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9">
                                                        </rect>
                                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">
                                                        </rect>
                                                    </svg>
                                                    Beginner
                                                </li>
                                                <li class="list-inline-item"> <span>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning"></i>
												</span>
                                                    <span class="text-warning">4.5</span>
                                                    <span class="font-size-xs text-muted">(9,300)</span>
                                                </li>
                                            </ul>
                                            <!-- Row -->
                                            <div class="row align-items-center no-gutters">
                                                <div class="col-auto">
                                                    <img src="{% static 'images/avatar-3.jpg' %}"
                                                         class="rounded-circle avatar-xs" alt="">
                                                </div>
                                                <div class="col ml-2">
                                                    <span>Morris Mccoy</span>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#!" class="text-muted" data-toggle="tooltip"
                                                       data-placement="top" title=""
                                                       data-original-title="Add to Bookmarks">
                                                        <i class="fe fe-bookmark  "></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card -->
                            <div class="card mb-4 card-hover">
                                <!-- Row -->
                                <div class="row no-gutters">
                                    <a class="col-12 col-md-12 col-xl-3 col-lg-3 bg-cover img-left-rounded"
                                       style="background-image: url({% static 'images/course-bootstrap.jpg);' %}"
                                       href="#!">
                                        <img src="{% static 'images/course-bootstrap.jpg' %}" alt="..."
                                             class="img-fluid d-lg-none invisible">
                                    </a>
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <h3 class="mb-2 text-truncate-line-2 "><a href="#!"
                                                                                      class="text-inherit">Bootstrap 5
                                                Beginner
                                                Tutorial</a></h3>
                                            <!-- List inline -->
                                            <ul class="mb-5 list-inline">
                                                <li class="list-inline-item"><i class="far fa-clock mr-1"></i>2h 46m
                                                </li>
                                                <li class="list-inline-item">
                                                    <svg class="mr-1 mt-n1" width="16" height="16"
                                                         viewBox="0 0 16 16" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                                                        </rect>
                                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE">
                                                        </rect>
                                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#754FFE">
                                                        </rect>
                                                    </svg>
                                                    Advance
                                                </li>
                                                <li class="list-inline-item"> <span>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning"></i>
												</span>
                                                    <span class="text-warning">4.5</span>
                                                    <span class="font-size-xs text-muted">(7,900)</span>
                                                </li>
                                            </ul>
                                            <!-- Row -->
                                            <div class="row align-items-center no-gutters">
                                                <div class="col-auto">
                                                    <img src="{% static 'images/avatar-2.jpg' %}"
                                                         class="rounded-circle avatar-xs" alt="">
                                                </div>
                                                <div class="col ml-2">
                                                    <span>Ted Hawkins</span>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#!" class="text-muted" data-toggle="tooltip"
                                                       data-placement="top" title=""
                                                       data-original-title="Add to Bookmarks">
                                                        <i class="fe fe-bookmark  "></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card -->
                            <div class="card mb-4 card-hover">
                                <!-- Row -->
                                <div class="row no-gutters">
                                    <a class="col-12 col-md-12 col-xl-3 col-lg-3 bg-cover img-left-rounded"
                                       style="background-image: url({% static 'images/course-graphql.jpg);' %}"
                                       href="#!">
                                        <img src="{% static 'images/course-graphql.jpg' %}" alt="..."
                                             class="img-fluid d-lg-none invisible">
                                    </a>
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <h3 class="mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">Getting
                                                Started
                                                WithGraphQL.js</a></h3>
                                            <!-- List inline -->
                                            <ul class="mb-5 list-inline">
                                                <li class="list-inline-item"><i class="far fa-clock mr-1"></i>1h 30m
                                                </li>
                                                <li class="list-inline-item">
                                                    <svg class="mr-1 mt-n1" width="16" height="16"
                                                         viewBox="0 0 16 16" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                                                        </rect>
                                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9">
                                                        </rect>
                                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">
                                                        </rect>
                                                    </svg>
                                                    Beginner
                                                </li>
                                                <li class="list-inline-item"> <span>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning"></i>
												</span>
                                                    <span class="text-warning">4.5</span>
                                                    <span class="font-size-xs text-muted">(8,245)</span>
                                                </li>
                                            </ul>
                                            <!-- Row -->
                                            <div class="row align-items-center no-gutters">
                                                <div class="col-auto">
                                                    <img src="{% static 'images/avatar-4.jpg' %}"
                                                         class="rounded-circle avatar-xs" alt="">
                                                </div>
                                                <div class="col ml-2">
                                                    <span>Juanita Bell</span>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#!" class="text-muted" data-toggle="tooltip"
                                                       data-placement="top" title=""
                                                       data-original-title="Add to Bookmarks">
                                                        <i class="fe fe-bookmark  "></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card -->
                            <div class="card mb-4 card-hover">
                                <!-- Row -->
                                <div class="row no-gutters">
                                    <a class="col-12 col-md-12 col-xl-3 col-lg-3 bg-cover img-left-rounded"
                                       style="background-image: url({% static 'images/course-react.jpg);' %}" href="#!">
                                        <img src="{% static 'images/course-react.jpg' %}" alt="..."
                                             class="img-fluid d-lg-none invisible">
                                    </a>
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <h3 class="mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">The
                                                Beginner's Guide to React</a></h3>
                                            <!-- List inline -->
                                            <ul class="mb-5 list-inline">
                                                <li class="list-inline-item"><i class="far fa-clock mr-1"></i>2h 30m
                                                </li>
                                                <li class="list-inline-item">
                                                    <svg class="mr-1 mt-n1" width="16" height="16"
                                                         viewBox="0 0 16 16" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                                                        </rect>
                                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE">
                                                        </rect>
                                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">
                                                        </rect>
                                                    </svg>
                                                    Intermediate
                                                </li>
                                                <li class="list-inline-item"> <span>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning"></i>
												</span>
                                                    <span class="text-warning">4.5</span>
                                                    <span class="font-size-xs text-muted">(3,200)</span>
                                                </li>
                                            </ul>
                                            <!-- Row -->
                                            <div class="row align-items-center no-gutters">
                                                <div class="col-auto">
                                                    <img src="{% static 'images/avatar-5.jpg' %}"
                                                         class="rounded-circle avatar-xs" alt="">
                                                </div>
                                                <div class="col ml-2">
                                                    <span>Claire Robertson</span>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#!" class="text-muted" data-toggle="tooltip"
                                                       data-placement="top" title=""
                                                       data-original-title="Add to Bookmarks">
                                                        <i class="fe fe-bookmark  "></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card -->
                            <div class="card mb-4 card-hover">
                                <div class="row no-gutters">
                                    <a class="col-12 col-md-12 col-xl-3 col-lg-3 bg-cover img-left-rounded"
                                       style="background-image: url({% static 'images/course-javascript.jpg);' %}"
                                       href="#!">
                                        <img src="{% static 'images/course-javascript.jpg' %}" alt="..."
                                             class="img-fluid d-lg-none invisible">
                                    </a>
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <h3 class="mb-2 text-truncate-line-2 "><a href="#!"
                                                                                      class="text-inherit">Applying
                                                JavaScript and
                                                using the console.</a>
                                            </h3>
                                            <!-- List inline -->
                                            <ul class="mb-5 list-inline">
                                                <li class="list-inline-item"><i class="far fa-clock mr-1"></i>1h 30m
                                                </li>
                                                <li class="list-inline-item">
                                                    <svg class="mr-1 mt-n1" width="16" height="16"
                                                         viewBox="0 0 16 16" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                                                        </rect>
                                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9">
                                                        </rect>
                                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">
                                                        </rect>
                                                    </svg>
                                                    Beginner
                                                </li>
                                                <li class="list-inline-item"> <span>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning"></i>
												</span>
                                                    <span class="text-warning">4.5</span>
                                                    <span class="font-size-xs text-muted">(6,600)</span>
                                                </li>
                                            </ul>
                                            <!-- Row -->
                                            <div class="row align-items-center no-gutters">
                                                <div class="col-auto">
                                                    <img src="{% static 'images/avatar-10.jpg' %}"
                                                         class="rounded-circle avatar-xs" alt="">
                                                </div>
                                                <div class="col ml-2">
                                                    <span>Ted Hawkins</span>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#!" class="text-muted" data-toggle="tooltip"
                                                       data-placement="top" title=""
                                                       data-original-title="Add to Bookmarks">
                                                        <i class="fe fe-bookmark"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card -->
                            <div class="card mb-4 card-hover">
                                <div class="row no-gutters">
                                    <a class="col-12 col-md-12 col-xl-3 col-lg-3 bg-cover img-left-rounded"
                                       style="background-image: url({% static 'images/course-node.jpg);' %}" href="#!">
                                        <img src="{% static 'images/course-node.jpg' %}" alt="..."
                                             class="img-fluid d-lg-none invisible">
                                    </a>
                                    <div class="col-lg-9 col-md-12 col-12">
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <h3 class="mb-2 text-truncate-line-2 "><a href="#!" class="text-inherit">Node.js
                                                Tutorials - For
                                                beginners and
                                                professionals</a></h3>
                                            <!-- list inline -->
                                            <ul class="mb-5 list-inline">
                                                <li class="list-inline-item"><i class="far fa-clock mr-1"></i>1h 30m
                                                </li>
                                                <li class="list-inline-item">
                                                    <svg class="mr-1 mt-n1" width="16" height="16"
                                                         viewBox="0 0 16 16" fill="none"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                                                        </rect>
                                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9">
                                                        </rect>
                                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">
                                                        </rect>
                                                    </svg>
                                                    Beginner
                                                </li>
                                                <li class="list-inline-item"> <span>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning mr-n1"></i>
													<i class="mdi mdi-star text-warning"></i>
												</span>
                                                    <span class="text-warning">4.5</span>
                                                    <span class="font-size-xs text-muted">(2,700)</span>
                                                </li>
                                            </ul>
                                            <!-- row -->
                                            <div class="row align-items-center no-gutters">
                                                <div class="col-auto">
                                                    <img src="{% static 'images/avatar-6.jpg' %}"
                                                         class="rounded-circle avatar-xs" alt="">
                                                </div>
                                                <div class="col ml-2">
                                                    <span>Sumona Khaat</span>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="#!" class="text-muted" data-toggle="tooltip"
                                                       data-placement="top" title=""
                                                       data-original-title="Add to Bookmarks">
                                                        <i class="fe fe-bookmark  "></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}